/* popup.css */

:root {
  --primary-bg: #181718;
  --primary-text: #fff;
  --primary-button: #196DBB;
  --primary-button-hover: #13538f;
  --primary-tooltip: #252325;
  --primary-shadow: rgba(0, 0, 0, 0.25);
}
svg{
  fill: var(--primary-text);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  width: 300px;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top {
  justify-content: space-between;
  margin-top: 5px;
  display: flex;
  font-size: 24px;
  flex-direction: row;
  width: 100%;
  gap: 5px;
}
.head{
  display: flex;
  flex: 1;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: default;
  gap: 5px;
}

.buttons {
  display: flex;
  gap: 20px;
  padding: 20px 20px 40px 20px;
}

#settingsBtn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: fit-content;
  margin: 0px 5px 0 0;
  height: 20px;
  width: 20px;
  flex: 0 0 auto;
}

.buttons button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 18px;
  background: var(--primary-button);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease;
  box-shadow: 0 4px 12px var(--primary-shadow);
}

.buttons button:hover {
  background: var(--primary-button-hover);
  transform: translateY(-2px);
}

.buttons button:active {
  transform: scale(0.95);
}

.buttons button img {
  width: 28px;
  height: 28px;
  pointer-events: none;
  user-select: none;
}

.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%) translateY(5px);

  background: var(--primary-tooltip);
  color: var(--primary-text);
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}