/* popup.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  width: fit-content;
  height: 80px;
  padding: 40px;
  background: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 20px;
}



.buttons button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 18px;
  background: #374151;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.buttons button:hover {
  background: #4b5563;
  transform: translateY(-2px);
}

.buttons button:active {
  transform: scale(0.95);
}

.buttons button img {
  width: 28px;
  height: 28px;
  pointer-events: none;
  user-select: none;
}
.tooltip {
  position: relative;
}

.tooltip-text {
  position: absolute;
  bottom: -42px;
  left: 50%;
  transform: translateX(-50%) translateY(5px);

  background: #111827;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}